.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: #515d48;
    height: 100vh;
    border-right: 2px solid #012529;
    gap: 60px;

    .sidebar-container {
        padding: 50px 0 50px 0;

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            list-style: none;

            li {
                padding-top: 20px;
                margin-left: 20px;                
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: rgb(197, 195, 195);
                    font-family: Arial, Helvetica, sans-serif;
                }
                a:hover {
                    color: #012529;
                    transition: color 0.3s;
                }
            }
            li:hover {
                background-color: #ADC698;
                width: 100%;
                transition: background-color 0.3s;
            }
        }
    }

    .sidebar-logout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        button {
            margin-right: 40px;
            padding: 10px 20px;
            border-radius: 7px;
            border: none;
            font-weight: bold;
            text-transform: uppercase;
            background: #04afc2;
            color: #012529;
            cursor: pointer;
        }
        button:hover {
            background: #024950;
            color: #04afc2;
            transition: background-color 0.3s color 0.3s;
        }
    }
}