* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: #012529;
    color:white;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .left {
        flex: 1;
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px ;
            padding-right: 200px;

            .app-logo {
                width: 30%;
                height: 100%;
            }

            .app-name {
                width: 70%;
                font-size: 2rem;
            }
        }
    }

    .right {
        flex: 1;
        .navbar-links {
            padding: 20px 40px;
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                li {
                    margin: 0px 15px;

                    a {
                        text-decoration: none;
                        font-size: 1rem;
                        text-transform: uppercase;                       
                        color: white;
                        padding: 10px 20px;
                        border: 2px solid transparent;
                        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
                    }
                    a:hover {
                        background-color: #014249;
                        color: white;
                        border-radius: 4px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .left {
            padding-left: 0px;
            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
                .app-name {
                    font-size: 1rem;
                }               
            }
        }
        .right {
            .navbar-links {
                ul {
                    .list-about {
                        display: none;
                    }
                    .list-register {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 430px) {
        .left {
            padding-left: 0px;
            .title {
                .app-name {
                    display: none;
                }
            }
        }
        .right {
            .navbar-links {
                ul {
                    .list-pricing {
                        display: none;
                    }
                    .list-about {
                        display: none;
                    }
                    .list-register {
                        display: none;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 360px) {
        .left {
            padding-left: 0px;
            .title {
                .app-name {
                    display: none;
                }
            }
        }
        .right {
            .navbar-links {
                ul {
                    .list-pricing {
                        display: none;
                    }
                    .list-about {
                        display: none;
                    }
                    .list-register {
                        display: none;
                    }
                }
            }
        }
    }
}